.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100vw;
    height: 100vh;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container-search input{
    height: 30px;
    width: 200px;
}


@media only screen and (max-width: 600px) {
    .container-search{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .container-search input{
        height: 30px;
        width: 150px;
    }
}


@media only screen and (max-width: 350px) {
    .card {
        width: 200px; 
        height: 500px; 
    }
}